.app-footer {
  position: top;
  padding: 10px 8px;
  text-align: center;
  width: 100%;
  bottom: 0;

  color: white;
  background-color: #282c34;

  a {
    padding: 0px 8px;
    width: 100%;
    position: relative;
  }
}
